footer
    .footer
        .container
            .row
                .col-3
                    +footer-nav(footerNav.footerNavFirst)
                .col-3
                    +footer-nav(footerNav.footerNavSecond)
                .col-3
                    +footer-nav(footerNav.footerNavThird)

                .col-3
                    include ./../sections/social-icons.pug
    .copyright
        .container
            .copyright__text © Copyright 2019. All rights reserved.
