extends ./../layouts/main.pug

block variables
    //- - const title = "Главная";
    - const title = jsonData.mainpageTitle;

block content
    include ./../sections/header.pug

    .container
        .row
            .col-9
                each post in jsonData.postsOnMainPage
                    +post(post.title, post.info, post.img, post.link )
                        p #{post.text}

                include ./../sections/pagination.pug

            .col-3
                include ./../sections/recent-posts.pug
                include ./../sections/Popular-posts.pug
                include ./../sections/widget-instagram.pug
    
    include ./../sections/footer.pug